.card {
            display: inline-block;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15);
            margin: 20px;
            position: relative;
            margin-bottom: 50px;
            transition: all .2s ease-in-out;
            cursor:pointer;
        }

        .card:hover {
            /*box-shadow: 0 5px 22px 0 rgba(0,0,0,.25);*/
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            margin-bottom: 54px;
        }

        .image {
            height: 200px;
            opacity: .7;
            overflow: hidden;
            transition: all .2s ease-in-out;
        }

        .image:hover,
        .card:hover .image {
            height: 200px;
            opacity: 1;
        }

        .text {
            background: #FFF;
            padding: 20px;
            min-height: 200px;
        }

        .text p {
            margin-bottom: 0px;
        }

