{% extends 'registration/login_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Change Password
{% endblock title %}

{% block heading %}
    Change Password
{% endblock heading %}

{% block form_element %}
        <form action="{% url 'accounts:password-change' %}" method="POST" class="form login">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form__field" style="margin-bottom: 1vh;">
                <label for="{{ form.old_password.id_for_label }}">
                    <svg class="icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#user"></use>
                    </svg>
                    <span class="hidden">Username</span></label>
                {{ form.old_password|add_class:"form__input"|attr:"placeholder:Old Password" }}

            </div>
            <div class="input-error" style="color: yellow;font-weight: normal">Keep Blank if signed in via Google</div>
            {% if form.old_password.errors %}
                <div class="input-error">{{ form.old_password.errors }}</div>
            {% endif %}

        <div class="form__field">
            <label for="{{ form.new_password.id_for_label }}">
                <svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lock"></use>
                </svg>
                <span class="hidden">Password</span></label>
            {{ form.new_password|add_class:"form__input"|attr:"placeholder:New Password" }}
        </div>
        {% if form.new_password.errors %}
            <div class="input-error">{{ form.new_password.errors }}</div>
        {% endif %}

        <div class="form__field">
            <label for="{{ form.new_password2.id_for_label }}">
                <svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lock"></use>
                </svg>
                <span class="hidden">Password</span></label>
            {{ form.new_password2|add_class:"form__input"|attr:"placeholder:Re-Enter New Password" }}
        </div>
        {% if form.new_password2.errors %}
            <div class="input-error">{{ form.new_password2.errors }}</div>
        {% endif %}


        <div class="form__field">
            <input type="submit" value="Submit">
        </div>


    </form>
{% endblock form_element %}
