{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <title>Profile</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}"/>
</head>
<body class="is-preload">

<!-- Header -->
<section id="header">
    <header>
        <span class="image avatar"><img src="images/avatar.jpg" alt=""/></span>
        <h1 id="logo"><a href="#">{{ request.user.username }}</a></h1>
        <p>I got reprogrammed by a rogue AI<br/>
            and now I'm totally cray</p>
    </header>
    <nav id="nav">
        <ul>
            <li><a href="#one" class="active">About</a></li>
            <li><a href="#two">Posts</a></li>
        </ul>
    </nav>
</section>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">

        <!-- One -->
        <section id="one">
            <div class="container">
                <h3>General Info</h3>
                <ul class="feature-icons">
                    <li class="fars fa-envelope-open">
                        Email : <strong>{{ request.user.email }}</strong>
                    </li>
                    <li class="fars fa-user">
                        Username : <strong>{{ request.user }}</strong>
                    </li>
                    <li class="fars fa-info">
                            Full Name : <strong>{{ request.user.first_name }} {{ request.user.last_name }}</strong>
                    </li>
                </ul>

                <h3>Clubs Follow:
                    {% for clubMember in clubs %}
                        <span style="margin-left:1rem;cursor: none;" class="btn btn-success">{{ clubMember.club.name }}</span>
                    {% endfor %}
                </h3>

            </div>
        </section>

        <section id="two">
            <div class="container">
                <h3 style="text-align: center;">Your Posts</h3>
                <p>
                    All Your posts will be displayed here !
                </p>

                <div class="features">

                </div>
                {% for post in posts %}
                    <article>
                        <div class="inner">
                            <h4>
                                <a href="">
                                    {{ post.title }}
                                </a>
                            </h4>
                            <p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus
                                integer adipiscing ornare amet.</p>
                        </div>
                    </article>
                    <hr>
                {% endfor %}
            </div>
        </section>


    </div>

    <!-- Footer -->
    <section id="footer">
        <div class="container">
            <ul class="copyright">
                <li>&copy; Untitled. All rights reserved.</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>
    </section>


</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>


<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
<script src="{% static 'js/browser.min.js' %}"></script>
<script src="{% static 'js/breakpoints.min.js' %}"></script>
<script src="{% static 'js/util.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>