{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "clubs/css/all_clubs.css" %}"/>
{% endblock %}


{% block content %}
    <div class="container">
            <h1 class="text-primary heading pt-5 mb-5 font-weight-bold" style="z-index:-1;">Clubs</h1>
            <div class="row">
                {% for club in clubs %}
                    <div class="col-md-6 col-sm-8 col-xs-12 col-md-offset-3 col-sm-offset-2" onclick="window.location='{% url "posts:club_posts" club.name|clubslug %}'">
                        <div class="card">
                            <div class="image">
                                {% if club.logo %}
                                    <img src="{{ club.logo.url }}"
                                         width="100%">
                                {% else %}
                                    <img src="http://assets.materialup.com/uploads/fc97b003-ba72-4c6e-9dd3-19bf5002c244/preview.jpg"
                                         width="100%">
                                {% endif %}
                            </div>
                            <div class="text">
                                {% if request.user.is_authenticated %}
                                    {% if club in request.user.following_clubs.all %}
                                        <div class="tick">&#10003;</div>
                                    {% else %}
                                        <div class="fab">&#43;</div>
                                    {% endif %}
                                    {% else %}
                                    <div class="fab">&#43;</div>
                                {% endif %}
                                <h3>{{ club.name }}</h3>
                                <p>{{ club.about|safe }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}

{% block script %}
{% endblock %}