{#{% load static %}#}
{#<!doctype html>#}
{#<html>#}
{#<head>#}
{#    {% block head %}#}
{#    {% endblock %}#}
{#    <meta charset="utf-8"/>#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>#}
{#    <link rel="stylesheet" href="{% static 'posts/css/main.css' %}">#}
{#    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">#}
{#    <link rel="stylesheet" href="{% static 'posts/css/fontawesome.min.css' %}">#}
{#</head>#}
{#<body class="is-preload">#}
{##}
{#<!-- Wrapper -->#}
{#<div id="wrapper">#}
{##}
{#    <!-- Header -->#}
{#    <!-- Header -->#}
{#    <header id="header">#}
{##}
{#        <a href="#" class="logo">#}
{#            <img src="{% static 'posts/images/logo-iota.jpg' %}" alt="" class="logo-club"/>#}
{#        </a>#}
{#        <nav class="main">#}
{#            <ul>#}
{#                <li class="search">#}
{#                    <a class="fa-search" href="#search">Search</a>#}
{#                    <form id="search" method="get" action="#">#}
{#                        <input type="text" name="query" placeholder="Search"/>#}
{#                    </form>#}
{#                </li>#}
{#                <li class="menu">#}
{#                    <a class="fa-bars" href="#menu">Menu</a>#}
{#                </li>#}
{#            </ul>#}
{#        </nav>#}
{#    </header>#}
{#    <!-- Menu -->#}
{#    <section id="menu">#}
{##}
{#        <!-- Search -->#}
{#        <section>#}
{#            <form class="search" method="get" action="#">#}
{#                <input type="text" name="query" placeholder="Search"/>#}
{#            </form>#}
{#        </section>#}
{##}
{#        <!-- Links -->#}
{#        <section>#}
{#            <ul class="links">#}
{#                <li>#}
{#                    <div>#}
{#                        <a onclick="myFunction()" class="clubs-dropdown"><h3>Clubs &#9662;</h3></a>#}
{#                        <div id="myDropdown" class="dropdown-content">#}
{#                            <a href="#"><p>IOTA</p></a>#}
{#                            <a href="#"><p>Gradient</p></a>#}
{#                            <a href="#"><p>Photography Club</p></a>#}
{#                            <a href="#"><p>Nature Club</p></a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <a class="dropbtn" onclick="myFunction()">Clubs &#9662;</a>#}
{#                    <div class="dropdown-content" id="myDropdown">#}
{#                        <a href="#">IOTA</a>#}
{#                        <a href="#">Gradient</a>#}
{#                        <a href="#">Photography Club</a>#}
{#                        <a href="#">Nature Club</a>#}
{#                    </div>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">#}
{#                        <h3>Dolor sit amet</h3>#}
{#                        <p>Sed vitae justo condimentum</p>#}
{#                    </a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">#}
{#                        <h3>Feugiat veroeros</h3>#}
{#                        <p>Phasellus sed ultricies mi congue</p>#}
{#                    </a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">#}
{#                        <h3>Etiam sed consequat</h3>#}
{#                        <p>Porta lectus amet ultricies</p>#}
{#                    </a>#}
{#                </li>#}
{#            </ul>#}
{#        </section>#}
{##}
{#        <!-- Actions -->#}
{#        <section>#}
{#            <ul class="actions stacked">#}
{#                <li><a href="#" class="button large fit">Log In</a></li>#}
{#            </ul>#}
{#        </section>#}
{##}
{#    </section>#}
{##}
{#    {% block content %}#}
{#    {% endblock %}#}
{##}
{#</div>#}
{##}
{#<!-- Scripts -->#}
{##}
{#<script src="{% static 'posts/js/jquery.min.js' %}"></script>#}
{#<script src="{% static 'posts/js/browser.min.js' %}"></script>#}
{#<script src="{% static 'posts/js/breakpoints.min.js' %}"></script>#}
{#<script src="{% static 'posts/js/util.js' %}"></script>#}
{#<script src="{% static 'posts/js/main.js' %}"></script>#}
{##}
{##}
{#{% block script %}#}
{##}
{#{% endblock %}#}
{##}
{#</body>#}
{#</html>#}


{% load static %}
<!doctype html>
<html>
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'posts/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static "css/navbar-footer.css" %}">
    <style>
        .chip {
            display: inline-block;
            padding: 0 25px;
            height: 50px;
            font-size: 16px;
            line-height: 50px;
            border-radius: 25px;
            background-color: #f1f1f1;
        }

        .chip img {
            float: left;
            margin: 0 10px 0 -25px;
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }

{#        .dropbtn {#}
{#  background-color: #4CAF50;#}
{#  color: white;#}
{#  padding: 16px;#}
{#  font-size: 16px;#}
{#  border: none;#}
{#}#}

/* The container <div> - needed to position the dropdown content */
{#.dropdown {#}
{#  position: relative;#}
{#  display: inline-block;#}
{#}#}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.navbar-fixed-top {
  top: -70px; /* you'll have to figure out the exact number here */
}

.navbar-fixed-top, .navbar-fixed-bottom {
  position: relative; /* this can also be static */
}


    </style>
</head>
<body class="is-preload">


<section id="header">
    <nav class="navbar navbar-static-top navbar-expand-lg navbar-light bg-light w-100 pr-5 p-0 flex align-items-center" style="top:0;">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                style="height:2.8125rem!important;">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto px-3">
                <li class="nav-item active px-3 py-2">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item px-3 py-2">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item px-3 py-2">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item dropdown px-3 py-2">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Nature Club</a>
                        <a class="dropdown-item" href="#">IOTA</a>
                        <a class="dropdown-item" href="#">Gradient</a>
                        <a class="dropdown-item" href="#">Photography Club</a>
                    </div>
                </li>
                <li class="nav-item px-3 py-2">
                    <a class="nav-link" href="#">Signup</a>
                </li>
                <li class="nav-item px-3 mt-2">
                    {#                    <a class="nav-link" href="#">Login</a>#}
                    {#                     <img src="{% static "images/download.jpg" %}" alt="image" height="50" width="50" style="border-radius:25px;">#}
                    {#                     <span>Vineet</span>#}
                    <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="chip">
                            <img src="{% static "images/download.jpg" %}" alt="Person" width="96" height="96">
                            John Doe
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right mr-5" aria-labelledby="profileDropdown">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>


{#                    <div class="dropdown">#}
{#                        <button class="dropbtn">#}
{#                            <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button"#}
{#                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                                <div class="chip">#}
{#                                    <img src="{% static "images/download.jpg" %}" alt="Person" width="96" height="96">#}
{#                                    John Doe#}
{#                                </div>#}
{#                            </a>#}
{#                        </button>#}
{#                        <div class="dropdown-content">#}
{#                            <a href="#">Link 1</a>#}
{#                            <a href="#">Link 2</a>#}
{#                            <a href="#">Link 3</a>#}
{#                        </div>#}
{#                    </div>#}
                </li>
            </ul>
        </div>
    </nav>

</section>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <!-- Header -->
    {#    <header id="header">#}
    {##}
    {#        <a href="#" class="logo">#}
    {#            <img src="{% static 'posts/images/logo-iota.jpg' %}" alt="" class="logo-club"/>#}
    {#        </a>#}
    {#        <nav class="main">#}
    {#            <ul>#}
    {#                <li class="search">#}
    {#                    <a class="fa-search" href="#search">Search</a>#}
    {#                    <form id="search" method="get" action="#">#}
    {#                        <input type="text" name="query" placeholder="Search"/>#}
    {#                    </form>#}
    {#                </li>#}
    {#                <li class="menu">#}
    {#                    <a class="fa-bars" href="#menu">Menu</a>#}
    {#                </li>#}
    {#            </ul>#}
    {#        </nav>#}
    {#    </header>#}




    {% block content %}
    {% endblock %}

</div>

<div id="wrapper">#}
        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <ul class="icons">
                    <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
                    <li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy; Copyright 2019</li>
                    <li>Made By <span>IOTA</span></li>
                </ul>
            </div>
        </footer>
    </div>

<!-- Scripts -->

{#<script src="{% static 'posts/js/jquery.min.js' %}"></script>#}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


<script src="{% static 'posts/js/browser.min.js' %}"></script>
<script src="{% static 'posts/js/breakpoints.min.js' %}"></script>
<script src="{% static 'posts/js/util.js' %}"></script>
<script src="{% static 'posts/js/main.js' %}"></script>


{% block script %}

{% endblock %}

</body>
</html>