<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<body>
    This is the landing page!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dicta dolorum recusandae repudiandae totam, ullam! Corporis fugit laudantium nihil officiis, provident repellat! Aliquid dicta dolorum, ea non numquam quasi voluptatem!
</body>
</html>