{% extends 'base/base.html' %}
{% load static %}
{% load blog_tags %}
{% load club_user_filters %}
{% load humanize %}


{% block head %}
    <title>IIITS - Club Portal</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
    <link rel="stylesheet" href="{% static "clubs/css/hero.css" %}"/>
    <link rel="stylesheet" href="{% static "css/club_portal_landing.css" %}"/>


{% endblock %}

{% block nav %}


    <nav class="navbar navbar-static-top navbar-expand-lg navbar-light bg-light w-100 pr-5 p-0 flex align-items-center nav-styles"
         style="top:0;position: fixed;z-index:20;">

        <a class="navbar-brand nav-styles" href="{% url 'base:index' %}"
           style="font-weight: bolder; font-size: 150%;padding-left: 5vh; font-family: 'Source Sans Pro', Helvetica, sans-serif;"><img
                class="img-fluid" src="{% static "images/logo-iiit.png" %}" alt="" width="48" height="48"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                style="height:2.8125rem!important;">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto px-3">

                <li class="nav-item px-3 nav-item-scroll mt-2">
                    <a class="nav-link" href="{% url 'base:all_clubs' %}">Clubs</a>
                </li>
                <li class="nav-item px-3 nav-item-scroll mt-2">
                    <a class="nav-link" href="{% url 'posts:posts' %}">All Posts</a>
                </li>
                <li class="nav-item dropdown px-3 nav-item-scroll mt-2">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Club
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for club in clubs %}
                            <a class="dropdown-item"
                               href="{% url 'posts:club_posts' club.name|clubslug %}">{{ club.name|title }}</a>
                        {% endfor %}
                        {#                        <a class="dropdown-item" href="#">IOTA</a>#}
                        {#                        <a class="dropdown-item" href="#">Gradient</a>#}
                        {#                        <a class="dropdown-item" href="#">Photography Club</a>#}
                    </div>
                </li>

                {% if club_slug %}

                    {% if request.user|is_user_moderator:club %}
                        <li class="nav-item px-3 mt-2">
                            <a class="nav-link" href="{% url 'base:all_clubs' %}">Club-Admin</a>
                        </li>
                    {% endif %}
                {% endif %}
                {% if request.user.is_authenticated %}

                    <li class="nav-item px-3 nav-item-scroll mt-2">
                        {#                    <a class="nav-link" href="#">Login</a>#}
                        {#                     <img src="{% static "images/download.jpg" %}" alt="image" height="50" width="50" style="border-radius:25px;">#}
                        {#                     <span>Vineet</span>#}
                        <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="chip">
                                {% if request.user.userprofile.profile_pic %}
                                    <img src="{{ request.user.userprofile.profile_pic.url }}" alt="Person"
                                         width="96"
                                         height="96"/>
                                {% elif request.user.googleauth.profile_pic_link %}
                                    <img src="{{ request.user.googleauth.profile_pic_link }}" alt="Person"
                                         width="96"
                                         height="96"/>
                                {% else %}
                                    <img src="{% static "posts/images/pic10.jpg" %}" alt="Person" width="96"
                                         height="96"/>

                                {% endif %}
                                {#                                <img src="{% static "images/download.jpg" %}" alt="Person" width="96" height="96">#}
                                {{ request.user.get_full_name }}
                            </div>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right mr-5 mt-2" aria-labelledby="profileDropdown">

                            <a class="dropdown-item" href="{% url 'accounts:profile' %}">Profile</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                            <a class="dropdown-item" href="{% url 'accounts:index' select='1' show='1'%}">Calendar <sup style="color: red">Beta</sup></a>


                        </div>


                        {#                    <div class="dropdown">#}
                        {#                        <button class="dropbtn">#}
                        {#                            <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button"#}
                        {#                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                        {#                                <div class="chip">#}
                        {#                                    <img src="{% static "images/download.jpg" %}" alt="Person" width="96" height="96">#}
                        {#                                    John Doe#}
                        {#                                </div>#}
                        {#                            </a>#}
                        {#                        </button>#}
                        {#                        <div class="dropdown-content">#}
                        {#                            <a href="#">Link 1</a>#}
                        {#                            <a href="#">Link 2</a>#}
                        {#                            <a href="#">Link 3</a>#}
                        {#                        </div>#}
                        {#                    </div>#}
                    </li>
                {% else %}
{#                    <li class="nav-item px-3 nav-item-scroll mt-2">#}
{#                        <a class="nav-link"#}
{#                           href="{% url 'registration:login' %}?next={{ request.path }}">Signup</a>#}
{#                    </li>#}
                    <li class="nav-item px-3 nav-item-scroll mt-2">

                        <a class="nav-link" href="{% url 'registration:login' %}?next={{ request.path }}">Login/Signup</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <section class="container-fluid h-100 w-100" style="margin-top: 5vh;">
        <div class="w-100 h-100"
             style="background: url('{% static "images/divider.jpg" %}') no-repeat center;background-size:cover; ">
            <div class="heading-container">
                <p class="font-weight-bold text-primary heading">IIITS - Clubs Portal</p>
                <p class="font-weight-bold text-muted mb-4 sub-heading">Lorem ipsum dolor sit amet, consectetur<br>
                    adipisicing elit.</p>
                <div class="buttons" style="float: left; margin-top: 2vh;">
                    <a class="explore" href="#clubs-container">
                        <button class="btn-hover color-5"><span class="font-weight-bold">Explore</span></button>
                    </a>
                </div>
                <div class="buttons" style="float: left; margin-top: 2vh; margin-left: 1vw;">
                    <a class="explore" href="{% url 'base:all_clubs' %}">
                        <button class="btn-hover color-5" onclick="window.location='{% url "base:all_clubs" %}'"><span
                                class="font-weight-bold">Clubs</span></button>
                    </a>
                </div>
            </div>
        </div>
    </section>


    <section class="container-fluid news mt-5" id="clubs-container">
        <div class="container">
            <div class="row my-5">
                <div class="col-lg-4 col-md-6 col-sm-12 h-50 w-100 p-2">
                    <h1 class="text-primary sub-heading font-weight-bold" style="z-index:-1;">News</h1>
                    <div class="news-corner">
                        {% for n in news %}
                            <div class="news-headline" onclick="window.location = '{% url "posts:post_detail" n.post.club.name|clubslug n.post.encrypted_id %}'">
                                <pre class="small text-success">{{ n.post.created|naturaltime }}</pre>
                                <p class="news-headline-para border-left border-primary border-3 px-2 font-weight-bold">{{ n.message }}</p>
                            </div>
                            <hr/>
                        {% empty %}
                            <div class="news-headline" onclick="">
                                <pre class="small text-success">-</pre>
                                <p class="news-headline-para border-left border-primary border-3 px-2 font-weight-bold">
                                    No Recent News</p>
                            </div>
                            <hr/>
                        {% endfor %}

                    </div>


                </div>
                <div class="col-lg-8 col-md-6 col-sm-12 h-50 w-100 p-2">
                    <h1 class="text-primary sub-heading font-weight-bold" style="z-index:-1;">Recent Posts</h1>
                    <div class="news-corner">
                        {% for p in posts %}
                            <div class="news-headline" onclick="window.location = '{% url "posts:post_detail" p.club.name|clubslug p.encrypted_id %}'">
                                <pre class="small text-success">{{ p.club.name }} | {{ p.created|naturaltime }}</pre>
                                <p class="news-headline-para border-left border-primary border-3 px-2 font-weight-bold">
                                    {{ p.title }}</p>
                            </div>
                            <hr/>
                        {% empty %}
                            <div class="news-headline" onclick="">
                                <pre class="small text-success">-</pre>
                                <p class="news-headline-para border-left border-primary border-3 px-2 font-weight-bold">
                                    No Recent Posts</p>
                            </div>
                            <hr/>
                        {% endfor %}

                    </div>
                </div>
            </div>
            {#            <h1 class="text-primary heading pt-5 mb-5 font-weight-bold" style="z-index:-1;">Clubs</h1>#}
            {#            <div class="row">#}
            {#                {% for club in clubs %}#}
            {#                    <div class="col-md-6 col-sm-8 col-xs-12 col-md-offset-3 col-sm-offset-2" onclick="window.location='{% url "posts:club_posts" club.name|clubslug %}'">#}
            {#                        <div class="card">#}
            {##}
            {#                            <div class="image">#}
            {#                                {% if club.logo %}#}
            {#                                    <img src="{{ club.logo.url }}"#}
            {#                                         width="100%">#}
            {##}
            {#                                {% else %}#}
            {#                                    <img src="http://assets.materialup.com/uploads/fc97b003-ba72-4c6e-9dd3-19bf5002c244/preview.jpg"#}
            {#                                         width="100%">#}
            {#                                {% endif %}#}
            {#                            </div>#}
            {##}
            {#                            <div class="text">#}
            {##}
            {#                                {% if request.user.is_authenticated %}#}
            {#                                    {% if club in request.user.following_clubs.all %}#}
            {#                                        <div class="tick">&#10003;</div>#}
            {#                                    {% else %}#}
            {#                                        <div class="fab">&#43;</div>#}
            {#                                    {% endif %}#}
            {#                                    {% else %}#}
            {#                                    <div class="fab">&#43;</div>#}
            {##}
            {#                                {% endif %}#}
            {#                                <h3>{{ club.name }}</h3>#}
            {#                                <p>{{ club.about|safe }}</p>#}
            {##}
            {##}
            {#                            </div>#}
            {##}
            {#                        </div>#}
            {#                    </div>#}
            {#                {% endfor %}#}
            {##}
            {##}
            {#            </div>#}
        </div>

    </section>
{% endblock %}



{% block script %}
    <script src="{% static "clubs/js/landing_page.js" %}"></script>
{% endblock %}
