{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <title>IOTA</title>
    <link rel="stylesheet" href="{% static 'admin_panel/css/admin_panel.css' %}" />
{% endblock %}


{% block content %}
    <div id="wrapper">
				<!-- Main -->
					<div id="main">
						<div class="inner">
							<!-- Section -->
								<section>
									<header class="major">
										<h2>Pending Enrollments</h2>
									</header>
									<div class="posts">
													<div class="table-wrapper" style="margin:0 auto;width:100%;">
														<table>
															<thead>
																<tr>
																	<th>Name</th>
																	<th>Description</th>

																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>Lorem Ipsum</td>
																	<td>Ante turpis integer aliquet porttitor.</td>
																	<td><a href="#" class="button primary small">Accept</a></td>
																	<td><a href="#" class="button small">Reject</a></td>
																</tr>
																<tr>
																	<td>Lorem Ipsum</td>
																	<td>Vis ac commodo adipiscing arcu aliquet.</td>
																	<td><a href="#" class="button primary small">Accept</a></td>
																	<td><a href="#" class="button small">Reject</a></td>
																</tr>
																<tr>
																	<td>Lorem Ipsum</td>
																	<td> Morbi faucibus arcu accumsan lorem.</td>
																	<td><a href="#" class="button primary small">Accept</a></td>
																	<td><a href="#" class="button small">Reject</a></td>
																</tr>
																<tr>
																	<td>Lorem Ipsum</td>
																	<td>Vitae integer tempus condimentum.</td>
																	<td><a href="#" class="button primary small">Accept</a></td>
																	<td><a href="#" class="button small">Reject</a></td>
																</tr>
																<tr>
																	<td>Lorem Ipsum</td>
																	<td>Ante turpis integer aliquet porttitor.</td>
																	<td><a href="#" class="button primary small">Accept</a></td>
																	<td><a href="#" class="button small">Reject</a></td>
																</tr>
															</tbody>

														</table>
													</div>

									</div>
									<header class="major">
										<h2>Enrolled</h2>
									</header>
									<div class="posts">
											<div class="table-wrapper" style="margin:0 auto;width:100%;">
												<table>
													<thead>
														<tr>
															<th>Name</th>
															<th>Description</th>
															<th>Year</th>
															<th>Attendance</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>Lorem Ipsum</td>
															<td>Ante turpis integer aliquet porttitor.</td>
															<td>1</td>
															<td>7</td>
														</tr>
														<tr>
															<td>Lorem Ipsum</td>
															<td>Vis ac commodo adipiscing arcu aliquet.</td>
															<td>1</td>
															<td>7</td>
														</tr>
														<tr>
															<td>Lorem Ipsum</td>
															<td> Morbi faucibus arcu accumsan lorem.</td>
															<td>1</td>
															<td>7</td>
														</tr>
														<tr>
															<td>Lorem Ipsum</td>
															<td>Vitae integer tempus condimentum.</td>
															<td>1</td>
															<td>7</td>
														</tr>
														<tr>
															<td>Lorem Ipsum</td>
															<td>Ante turpis integer aliquet porttitor.</td>
															<td>1</td>
															<td>7</td>
														</tr>
													</tbody>

												</table>
											</div>

							</div>

								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">
								<nav id="menu">
									<header class="major">
										<h2>IOTA</h2>
									</header>
									<ul>
										<li><a href="{% url 'base:member_list' %}">Members</a></li>
										<li><a href="{% url 'base:moderator_list' %}">Moderators</a></li>
										<li><a href="{% url 'base:pending_posts_list' %}">Posts</a></li>
									</ul>
								</nav>
						</div>
					</div>

			</div>
{% endblock %}

{% block script %}
    <script src="{% static 'admin_panel/js/admin_panel.js' %}"></script>
{% endblock %}



{#<!DOCTYPE HTML>#}
{#<html>#}
{#	<head>#}
{#		<title>Editorial by HTML5 UP</title>#}
{#		<meta charset="utf-8" />#}
{#		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />#}
{#		<link rel="stylesheet" href="{% static 'admin_panel/css/admin_panel.css' %}" />#}
{#	</head>#}
{#	<body class="is-preload">#}
{#		<!-- Wrapper -->#}
{#			<div id="wrapper">#}
{#				<!-- Main -->#}
{#					<div id="main">#}
{#						<div class="inner">#}
{#							<!-- Section -->#}
{#								<section>#}
{#									<header class="major">#}
{#										<h2>Pending Enrollments</h2>#}
{#									</header>#}
{#									<div class="posts">#}
{#													<div class="table-wrapper" style="margin:0 auto;width:100%;">#}
{#														<table>#}
{#															<thead>#}
{#																<tr>#}
{#																	<th>Name</th>#}
{#																	<th>Description</th>#}
{##}
{#																</tr>#}
{#															</thead>#}
{#															<tbody>#}
{#																<tr>#}
{#																	<td>Lorem Ipsum</td>#}
{#																	<td>Ante turpis integer aliquet porttitor.</td>#}
{#																	<td><a href="#" class="button primary small">Accept</a></td>#}
{#																	<td><a href="#" class="button small">Reject</a></td>#}
{#																</tr>#}
{#																<tr>#}
{#																	<td>Lorem Ipsum</td>#}
{#																	<td>Vis ac commodo adipiscing arcu aliquet.</td>#}
{#																	<td><a href="#" class="button primary small">Accept</a></td>#}
{#																	<td><a href="#" class="button small">Reject</a></td>#}
{#																</tr>#}
{#																<tr>#}
{#																	<td>Lorem Ipsum</td>#}
{#																	<td> Morbi faucibus arcu accumsan lorem.</td>#}
{#																	<td><a href="#" class="button primary small">Accept</a></td>#}
{#																	<td><a href="#" class="button small">Reject</a></td>#}
{#																</tr>#}
{#																<tr>#}
{#																	<td>Lorem Ipsum</td>#}
{#																	<td>Vitae integer tempus condimentum.</td>#}
{#																	<td><a href="#" class="button primary small">Accept</a></td>#}
{#																	<td><a href="#" class="button small">Reject</a></td>#}
{#																</tr>#}
{#																<tr>#}
{#																	<td>Lorem Ipsum</td>#}
{#																	<td>Ante turpis integer aliquet porttitor.</td>#}
{#																	<td><a href="#" class="button primary small">Accept</a></td>#}
{#																	<td><a href="#" class="button small">Reject</a></td>#}
{#																</tr>#}
{#															</tbody>#}
{##}
{#														</table>#}
{#													</div>#}
{##}
{#									</div>#}
{#									<header class="major">#}
{#										<h2>Enrolled</h2>#}
{#									</header>#}
{#									<div class="posts">#}
{#											<div class="table-wrapper" style="margin:0 auto;width:100%;">#}
{#												<table>#}
{#													<thead>#}
{#														<tr>#}
{#															<th>Name</th>#}
{#															<th>Description</th>#}
{#															<th>Year</th>#}
{#															<th>Attendance</th>#}
{#														</tr>#}
{#													</thead>#}
{#													<tbody>#}
{#														<tr>#}
{#															<td>Lorem Ipsum</td>#}
{#															<td>Ante turpis integer aliquet porttitor.</td>#}
{#															<td>1</td>#}
{#															<td>7</td>#}
{#														</tr>#}
{#														<tr>#}
{#															<td>Lorem Ipsum</td>#}
{#															<td>Vis ac commodo adipiscing arcu aliquet.</td>#}
{#															<td>1</td>#}
{#															<td>7</td>#}
{#														</tr>#}
{#														<tr>#}
{#															<td>Lorem Ipsum</td>#}
{#															<td> Morbi faucibus arcu accumsan lorem.</td>#}
{#															<td>1</td>#}
{#															<td>7</td>#}
{#														</tr>#}
{#														<tr>#}
{#															<td>Lorem Ipsum</td>#}
{#															<td>Vitae integer tempus condimentum.</td>#}
{#															<td>1</td>#}
{#															<td>7</td>#}
{#														</tr>#}
{#														<tr>#}
{#															<td>Lorem Ipsum</td>#}
{#															<td>Ante turpis integer aliquet porttitor.</td>#}
{#															<td>1</td>#}
{#															<td>7</td>#}
{#														</tr>#}
{#													</tbody>#}
{##}
{#												</table>#}
{#											</div>#}
{##}
{#							</div>#}
{##}
{#								</section>#}
{##}
{#						</div>#}
{#					</div>#}
{##}
{#				<!-- Sidebar -->#}
{#					<div id="sidebar">#}
{#						<div class="inner">#}
{#								<nav id="menu">#}
{#									<header class="major">#}
{#										<h2>IOTA</h2>#}
{#									</header>#}
{#									<ul>#}
{#										<li><a href="{% url 'base:member_list' %}">Members</a></li>#}
{#										<li><a href="{% url 'base:moderator_list' %}">Moderators</a></li>#}
{#										<li><a href="{% url 'base:pending_posts_list' %}">Posts</a></li>#}
{#									</ul>#}
{#								</nav>#}
{#						</div>#}
{#					</div>#}
{##}
{#			</div>#}
{##}
{#		<!-- Scripts -->#}
{#			<script src="{% static 'admin_panel/js/jquery.min.js' %}"></script>#}
{#			<script src="{% static 'admin_panel/js/browser.min.js' %}"></script>#}
{#			<script src="{% static 'admin_panel/js/breakpoints.min.js' %}"></script>#}
{#			<script src="{% static 'admin_panel/js/util.js' %}"></script>#}
{#            <script src="{% static 'admin_panel/js/admin_panel.js' %}"></script>#}
{##}
{##}
{#	</body>#}
{#</html>#}