{% load static %}
{% load club_user_filters %}
{% block styles %}
<link rel="stylesheet" href="{% static 'posts/css/polls.css' %}">
{% endblock %}

<div class="poll">
    
    {% with post.poll as poll %}
    {% if poll.is_active and not poll|has_user_casted_vote:request.user %}
    <form action="{% url 'posts:cast-vote' club_name_slug post.encrypted_id %}" method="POST" id="form">
        <div class="question poll-question">
            <h3>Do You Like Subu Kandswamy?</h3>
            {% csrf_token %}

            {% for option in poll.option_set.all %}
                <div class="poll-option option">
                    <input type="radio" id="option_{{ option.id }}"
                    name="option" value="{{ option.id }}">
                    <label for="option_{{ option.id }}">{{ option.option_text }}</label>
                </div>
            {% empty %}
            No options set for poll
            {% endfor %}
            <p style="font-style:italic;color:gray">
                {% if poll.track_votes %}
                    Note: The creator of the poll has <span style="font-weight:bold; color:red"> ENABLED </span> collection of responses.<br>
                    This means, <span style="color:red; font-weight:bold;">YOUR VOTE IS NOT ANONYMOUS.</span> <br>
                    The option you have voted for can be seen by creator or club administrators later.
                {% else %}
                    Note: The creator of the poll has <span style="font-weight:bold; color:green"> DISABLED </span> collection of responses.<br>
                    This means, <span style="color:green; font-weight:bold;">YOUR VOTE IS ANONYMOUS.</span> <br>
                    The option you have voted for can not be seen by anyone later.
                {% endif %}
            </p>
            <input type="submit" value="Submit" class="poll-submit">
        </div>

    </form>
    
    {% else %}
    
    <div class="result poll-question">
        <h4 id="results">Here Are The Results</h4>
        
        {% with poll.total_votes as total_votes %}
        {# To prevent queries and addition operations again and again#}
        {% for option in poll.option_set.all %}
            <div class="row option">
                <div class="col-lg-6 col-sm-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="option-text">{{ option.option_text }}</h3>
                        </div>
                        <div class="col-sm-6">
                            <h3 class="option-votes">{% widthratio option.num_votes total_votes 100 %}%</h3>
                        </div>
                    </div>
                </div>
                <div class="answer-bar col-lg-5 col-sm-10">
                    <div class="filled-bar">
                        &nbsp;
                    </div>
                </div>
                <div class="col-lg-1 col-sm-2">
                    <span style="font-weight: bolder">({{ option.num_votes }})</span>
                </div>
            </div>

        {% endfor %}
        {% endwith %}
    </div>
    
    <script>
        
        const bars = document.querySelectorAll('.filled-bar');
        const values = [...document.querySelectorAll('.answer-value')].map(answer => Number(answer.textContent.slice(0, -1)));
        
        
        for (let i = 0; i < bars.length; i++) {
            let width = 1;
            
            const id = setInterval(frame, 10);
            
            
            function frame() {
                if (width >= values[i]) {
                    clearInterval(id);
                } else {
                    width++;
                    bars[i].style.width = width + '%';
                }
            }
        }



    </script>
    {% endif %}
    {% endwith %}

</div>


