{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'posts/css/polls.css' %}">
{% endblock %}

<div class="poll">

    <form action="" class="poll-submit" >
        <div class="question poll-question">
            <h3>Do You Like Subu Kandswamy?</h3>
            <div class="poll-option option">
                <input type="radio" id="contactChoice1"
                    name="contact" value="Nope">
                <label for="contactChoice1">Nope</label>
            </div>
            <div class="poll-option option">
                <input type="radio" id="contactChoice2"
                    name="contact" value="No">
                <label for="contactChoice2">No</label>
            </div>
            <div class="poll-option option">
                <input type="radio" id="contactChoice3"
                    name="contact" value="Na">
                <label for="contactChoice3">Na</label>
            </div>
            <div class="poll-option option">
                <input type="radio" id="contactChoice4"
                    name="contact" value="Nahi">
                <label for="contactChoice4">Nahi</label>
            </div>
            <input type="submit" value="submit">
        </div>

    </form>

        <div class="result poll-question">
            <h2>Here Are The Results</h2>

            <div class="answer option">
                <h3 class="option-text">Nope</h3>
                <h3 class="answer-value">45%</h3>
                <div class="answer-bar">
                    <div class="filled-bar">
                        &nbsp;
                    </div>
                </div>
            </div>


            <div class="answer option">
                <h3 class="option-text">No</h3>
                <h3 class="answer-value">45%</h3>
                <div class="answer-bar">
                    <div class="filled-bar">
                        &nbsp;
                    </div>
                </div>
            </div>


            <div class="answer option">
                <h3 class="option-text">Na</h3>
                <h3 class="answer-value">45%</h3>
                <div class="answer-bar">
                    <div class="filled-bar">
                        &nbsp;
                    </div>
                </div>
            </div>


            <div class="answer option">
                <h3 class="option-text">Nahi</h3>
                <h3 class="answer-value">45%</h3>
                <div class="answer-bar">
                    <div class="filled-bar">
                    </div>
                </div>
            </div>
        </div>

</div>


<script>
    document.querySelector('.poll-submit').addEventListener('submit', (e) => {
        e.preventDefault();
        document.querySelector('.question').style.display = 'none';
        document.querySelector('.result').style.display = 'block';


        const bars = document.querySelectorAll('.filled-bar');
        const values = [...document.querySelectorAll('.answer-value')].map(answer => Number(answer.textContent.slice(0,-1)));


        for (let i = 0; i < bars.length; i++) {
            let width = 1;

            const id = setInterval(frame, 10);


            function frame() {
                if (width >= values[i]) {
                    clearInterval(id);
                } else {
                    width++;
                    bars[i].style.width = width + '%';
                }
            }
        }




    });





</script>