{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'posts/css/polls.css' %}">
{% endblock %}
{% with post.poll as poll %}
    <div class="poll">
        <form action="" class="poll-submit">
            <div class="question poll-question">
                <ul>
                    {% for option in poll.option_set.all %}
                        <li style="border-left:5px solid #2ebaae;border: 2px solid black;">
                            <div style="display:flex;align-items: center;">


                                <input type="radio" id="option_{{ option.id }}"
                                       name="contact" value="{{ option.id }}">
                                <label for="option_{{ option.id }}">{{ option.option_text }}</label>


                            </div>
                        </li>
                    {% endfor %}
                </ul>

                <input type="submit" value="submit">
            </div>

        </form>

        <div class="result poll-question">
            <h2>Here Are The Results</h2>
            <ul class="option-list">
                {% for option in poll.option_set.all %}
                    <li>
                        <h5>{{ option.option_text }}</h5>
                        <div class="result-bar">
                            <h3>{{ option.num_votes }}</h3>
                            <progress class="result-progress-bar" value="22" max="100"></progress>
                        </div>
                    </li>
                {% endfor %}
                {% comment %}<li>
                <h5>No</h5>
                <div class="result-bar">
                    <h3>15</h3>
                    <progress class="result-progress-bar" value="22" max="100"></progress>
                </div>
            </li>
            <li>
                <h5>Na</h5>
                <div class="result-bar">
                    <h3>22</h3>
                    <progress class="result-progress-bar" value="22" max="100"></progress>
                </div>
            </li>
            <li>
                <h5>Nahi</h5>
                <div class="result-bar">
                    <h3>41</h3>
                    <progress class="result-progress-bar" value="41" max="100"></progress>
                </div>
            </li>{% endcomment %}
            </ul>
        </div>

    </div>

{% endwith %}
<script>
    document.querySelector('.poll-submit').addEventListener('submit', (e) => {
        e.preventDefault();
        document.querySelector('.question').style.display = 'none';
        document.querySelector('.result').style.display = 'block';


    });


</script>