{% extends 'base/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
    <link rel="stylesheet" href="{% static 'posts/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'posts/css/post_edit.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

{% endblock %}

{% block content %}

    <div class="container mt-4" style="margin-top: 5vh;">
        <h2 style="margin-bottom: 0;">Create Event</h2>
        <form action="" method="POST">
            {% csrf_token %}
            {{ postform.media }}

            <p>
                <span style="font-weight: 600;">Title:</span>
                {{ postform.title }}
                {{ postform.title.help_text }}
            </p>


            <div class="mt-6">
                <span style="font-weight: 600; vertical-align: top;margin-right:10px;">Body:</span>
                {{ postform.body }}
            </div>

            <div class="checkbox" style="margin-top:40px;">
                {{ postform.cover_image }}
            </div>


            {#            <div class="">#}
            <div class="checkbox">

                <span>{{ postform.is_public.label_tag }}</span>
                <span style="float:left;">{{ postform.is_public }}</span>
                {{ postform.is_public.help_text }}
            </div>
            <div class="checkbox">
                {{ postform.is_published.label_tag }}
                <span class="mt-2">{{ postform.is_published }}</span>
                <span class="helpText">{{ postform.is_published.help_text }}</span>
            </div>
            {#            </div>#}

            <div class="checkbox">
                {{ postform.notify_followers.label_tag }}
                <span class="mt-2">{{ postform.notify_followers }}</span>
                <span class="helpText">{{ postform.notify_followers.help_text }}</span>
            </div>

            <div class="row mb-4 mt-4">
                <div class="col-lg-6">
                    <strong>Start Date:</strong>
                    {{ eventform.start_date|add_class:"datepicker"|attr:"autocomplete:off" }}
                </div>
                <div class="col-lg-6">
                    <strong>End Date:</strong>
                    {{ eventform.end_date|add_class:"datepicker" }}
                </div>
            </div>
            <div>
                <strong>Venue:</strong>
                {{ eventform.venue }}
            </div>

            <input type='submit' style="margin-top: 10px;">
        </form>
    </div>



{% endblock %}

{% block script %}

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $(function () {
            $(".datepicker").datepicker();
        });
    </script>
{% endblock %}
