{% extends 'base/base.html' %}
{% load blog_tags %}
{% load static %}


{% block head %}
    <title>Posts</title>
    <link rel="stylesheet" href="{% static "posts/css/loader.css" %}"/>
{% endblock %}


{% block content %}


    <div id="main">
        <div class="infinite-container" id="all_posts">
            {% for post in posts %}
                <div class="infinite-item">
                    <article class="post">
                        <header>
                            <div class="title">
                                <h2>
                                    <a href="{% url 'posts:post_detail'  post.club.name|clubslug post.encrypted_id %}">{{ post.title }}</a>
                                </h2>
                                <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
                            </div>
                            <div class="meta">
                                <time class="published" datetime="2015-10-22">{{ post.created }}</time>
                                <a href="#" class="author"><span class="name">{{ post.author.get_full_name }}</span>
                                    <img src="{% static "posts/images/pic10.jpg" %}" alt=""/></a>
                                {#                                TODO Put author name and profile pic here#}
                            </div>
                        </header>
                        {% if post.cover_image %}
                            <a href="{% url 'posts:post_detail' post.club.name|clubslug post.encrypted_id %}" class="image featured">
                                <img src="{{ post.cover_image.url }}" alt="Cover Image"/>
                            </a>
                        {% endif %}
                        <p>
                            {{ post.body|safe|truncatechars_html:450 }}
                        </p>
                        <footer>
                            <ul class="actions">
                                <li><a href="{% url 'posts:post_detail' post.club.name|clubslug post.encrypted_id %}"
                                       class="button large">Continue Reading</a>
                                </li>
                            </ul>
                            <ul class="stats">
                                <li><a href="#" class="icon fa-heart fa-2x">{{ post.votes }}</a></li>
                                <li><a href="#" class="icon fa-comment fa-2x">128</a></li>
                            </ul>
                        </footer>
                    </article>
                </div>
            {% empty %}
                <h2>No Recent Posts Available!</h2>

            {% endfor %}
        </div>
        {% if posts.has_next %}
            <a style="display:none;" class="infinite-more-link"
               href="?page={{ posts.next_page_number }}">More</a>
        {% endif %}

        <div style="width: 100%; text-align: center; display: none" class="loading">
            <div class="lds-ripple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

        <!-- Pagination -->
        {#        <ul class="actions pagination">#}
        {#            <li><a href="" class="disabled button large previous">Previous Page</a></li>#}
        {#            <li><a href="#" class="button large next">Next Page</a></li>#}
        {#        </ul>#}

    </div>

    <section id="sidebar">

        <!-- About -->
        <section class="blurb">
            <h2>About</h2>
            <p>
                {{ club.about|safe|truncatechars_html:150 }}
            </p>
            <ul class="actions">
                <li><a href="#" class="button">Learn More</a></li>
            </ul>
        </section>

        <!-- Mini Posts -->
        <section>
            <div class="mini-posts">
                <h3>Pinned Posts</h3>

                {% for p_post in pinned_posts %}
                    <!-- Mini Post -->
                    <article class="mini-post">
                        <header>
                            <h3><a href="{% url 'posts:post_detail' p_post.post.club.name|clubslug p_post.post.encrypted_id %}">{{ p_post.post.title|truncatechars_html:26 }}</a></h3>
                            <time class="published" datetime="2015-10-18">{{ p_post.post.created }}</time>

                            <a href="{% url 'posts:post_detail' p_post.post.club.name|clubslug p_post.post.encrypted_id %}" class="author">
                                <img src="{% static "posts/images/pic10.jpg" %}" alt=""/></a>
                            <p>{{ p_post.post.body|safe|truncatechars_html:28 }}</p>

                        </header>
                        {% if p_post.post.cover_image.url %}
                            <a href="{% url 'posts:post_detail' p_post.post.club.name|clubslug p_post.post.encrypted_id %}" class="image">
                                <img src="{{ p_post.post.cover_image.url }}" alt=""/></a>
                        {% endif %}

                    </article>

                {% empty %}
                    <p>No Pinned Posts</p>
                {% endfor %}

            </div>
        </section>

        <!-- Posts List -->
        <section>
            <h3>Top Posts</h3>
            <ul class="posts">
                {% for post in top_posts %}
                <li>
                    <article>
                        <header>
                            <h3><a href="{% url 'posts:post_detail' post.club.name|clubslug post.encrypted_id %}">{{ post.title }}</a></h3>
                            <time class="published" datetime="2015-10-10">{{ post.created }}</time>
                        </header>
                        <a href="#" class="author">
                            <img src="{% static "posts/images/pic10.jpg" %}" alt=""/></a>
{#                        TODO Put user profile pic here#}
                    </article>
                </li>

                {% endfor %}
            </ul>
        </section>


        <!-- Footer -->
        <section id="footer">
            <ul class="icons">
                <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <p class="copyright">&copy; CYBERTEAM
        </section>




    </section>


{% endblock %}


{% block script %}
    <script src="{% static 'common_assests/imakewebthings-waypoints-34d9f6d/lib/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'common_assests/imakewebthings-waypoints-34d9f6d/lib/shortcuts/infinite.min.js' %}"></script>
    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onBeforePageLoad: function () {
                $('.loading').show();
            },
            onAfterPageLoad: function ($items) {
                $('.loading').hide();
                {#$('.collapsible').collapsible();#}
            }
        });
    </script>

{% endblock %}
