{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/poll_create.css' %}">
    <link rel="stylesheet" href="{% static 'posts/css/post_edit.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <h2 style="margin-bottom: 0;">Create Poll</h2>
    Add some details then select options



    <div class="options">
        <form action="{% url 'posts:create_poll' club_name %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ post_create_form.media }}

                <p>
                    <span style="font-weight: 600;">Title:</span>
                    {{ post_create_form.title }}
                    {{ post_create_form.title.help_text }}
                </p>

                    <span style="font-weight: 600; vertical-align: top;margin-right:10px;">Body:</span>
                    {{ post_create_form.media }}
                    {{ post_create_form.body }}

                <div class="checkbox" style="margin-top:10px;">
                    <label for="id_cover_image">Cover image:</label>
                    <input type="file" name="cover_image" accept="image/*" id="id_cover_image">
                </div>

                <div class="checkbox">

                    {{ post_create_form.is_public.label_tag }}
                    {{ post_create_form.is_public }}
                    {{ post_create_form.is_public.help_text }}

                </div>

                <div class="checkbox" style="clear: both;">
                    {{ post_create_form.is_published.label_tag }}
                    {{ post_create_form.is_published }}
                    <span class="helpText">{{ post_create_form.is_published.help_text }}</span>
                </div>


            {{ poll_create_form.as_p }}



{#            <input type="text" name="title" class="poll-question" placeholder="Enter The Poll Question" required>#}
            <br><br>




            <div style="font-weight: bolder; font-size: larger">Add options for your poll:</div>
            <br>
            <ul class="option-list">
                <li>
                    <input type="text" name="0" placeholder="Write Your Option here!" required>
                </li>
                <li>
                    <input type="text" name="1" placeholder="Write Your Option here!" required>
                </li>
            </ul>

            <div class="row justify-content-around">
                <div class="col-lg-3">
                    <button id="add-option" class="add-option">Add Option Here</button>
                </div>
                <div class="col-lg-3 col-lg-offset-6">
                    <input class="poll-submit" type="submit" value="Submit">
                </div>
            </div>
            <input name="hidden-count" class="option-count" type="hidden" value="2">
        </form>
    </div>

</div>

<script>
    let nameCounter = 1;

    document.querySelector('.add-option').addEventListener('click', function() {

        let liNode = document.createElement('li');
        let inputField = document.createElement('input');

        inputField.setAttribute("name",String(++nameCounter));
        inputField.setAttribute("placeholder", "Write Your Option here!");
        inputField.setAttribute("type","text");
        inputField.required = true;

        liNode.appendChild(inputField);

        document.querySelector('.option-list').appendChild(liNode);

        // No of options
        document.querySelector('.option-count').value = nameCounter;
    });


</script>


{% endblock %}