{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <title>Post_Add</title>
    <link rel="stylesheet" href="{% static 'posts/css/main.css' %}">
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'posts/css/post_edit.css' %}">
{% endblock %}

{% block content %}
    <div id="main">

        <article class="post">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}



                <p>
                    <span style="font-weight: 600;">Title:</span>
                    {{ form.title }}
                    {{ form.title.help_text }}
                </p>
                    <span style="font-weight: 600; vertical-align: top;margin-right:10px;">Body:</span>
                    {{ form.media }}
                    {{ form.body }}
                <div class="checkbox" style="margin-top:10px;">
                    <label for="id_cover_image">Cover image:</label>
                    <input type="file" name="cover_image" accept="image/*" id="id_cover_image">
                </div>
                <div class="checkbox">

                    {{ form.is_public.label_tag }}
                    {{ form.is_public }}
                    {{ form.is_public.help_text }}

                </div>

                <div class="checkbox" style="clear: both;">
                    {{ form.is_published.label_tag }}
                    {{ form.is_published }}
                    <span class="helpText">{{ form.is_published.help_text }}</span>
                </div>
                <input type="submit" value="Save">
            </form>
        </article>

        <section id="footer">
            <ul class="icons">
                <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <p class="copyright">&copy; CYBERTEAM
        </section>
    </div>
{% endblock %}



{% block script %}
{% endblock %}