{% extends 'base/base.html' %}
{% load static %}
{% load club_user_filters %}

{% block head %}
    <style>
        img {
            max-width: 100%;
            height: auto;
        }
    </style>
    <link rel="stylesheet" href="{% static 'posts/css/main.css' %}">
    <title>Post_Detail</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'posts/css/icons.css' %}">
{% endblock %}

{% block content %}
    <div id="main" style="margin-top: 5vh;">

        <article class="post">
            <header>
                <div class="title">
                    <h2><a href="#">{{ post.title }}</a></h2>

                    <div class="row">
                        <div class="col-lg-6">
                            {% if request.user in post.subscribed_users.all %}
                                <a href="#" class="button subscribed" id="subscribe_button" onclick='subscribe_toggle()'
                                   style=" box-shadow: inset 0 0 0 1px #2ebaae; color: #2ebaae !important "
                                   title="Receive notifications about updates">
                                    Subscribed
                                </a>

                                <script>
                                    var cur_subscribe_status = true;
                                </script>

                            {% else %}
                                <a href="#" class="button" id="subscribe_button" onclick='subscribe_toggle()'
                                   title="Receive notifications about updates">
                                    Subscribe
                                </a><br>
                                <span style="font-style: italic;color: gray; font-size: 90%;">(Stay in touch with all the updates of this post)</span>

                                <script>
                                    var cur_subscribe_status = false;
                                </script>
                            {% endif %}
                        </div>

                    </div>

                    {% if post.author == request.user %}
                        <br>

                        <div>
                            <a href="{% url 'posts:post-edit' post.encrypted_id %}" class="button"
                               style="text-align:right;">Edit</a>
                        </div>
                    {% endif %}
                </div>
                <div class="meta">
                    <time class="published" datetime="2015-11-01">{{ post.created }}</time>
                    <a href="#" class="author"><span class="name">{{ post.author.get_full_name }}</span>
                        {% if post.author.userprofile.profile_pic %}
                            <img src="{{ post.author.userprofile.profile_pic.url }}" alt=""/>
                        {% elif post.author.googleauth.profile_pic_link %}
                            <img src="{{ post.author.googleauth.profile_pic_link }}" alt=""/>
                        {% else %}
                            <img src="{% static "posts/images/pic10.jpg" %}" alt=""/>
                            {#                                TODO Put author name and profile pic here#}
                        {% endif %}
                    </a>
                </div>
            </header>
            {% if post.cover_image %}
                <span class="image featured"><img src="{{ post.cover_image.url }}" alt=""/></span>
            {% endif %}
            {% if not post.is_approved %}
            <p style="color:red; font-weight: bolder; font-style: italic">This post is not yet approved by moderators.</p>
            {% endif %}
            <p style="max-width: 100%;">
                {{ post.body|safe }}
            </p>
            {% if post.poll %}
                <article class="post">

                    {% include 'posts/_polls.html' %}

                </article>
            {% endif %}
            <footer>
                <ul class="stats">
                    <li>
                        <button type="submit" class="fabutton like" value="like">
                            {% if is_liked %}
                                <i class="fas fa-heart fa-3x liked-icon" id="like"></i>
                            {% else %}
                                <i class="far fa-heart fa-3x" id="like"></i>
                            {% endif %}
                        </button>
                        <span style="font-size: 2rem;margin-left: 3px;color:#007bff;">28</span>
                    </li>

                    <li>
                        <button type="submit" class="fabutton comment" value="comment">
                            <i class="far fa-comment fa-3x"></i>
                        </button>
                        <span style="font-size: 2rem;margin-left: 3px;color:#007bff;">128</span>
                    </li>
                    <li><a href="#" class="icon fa-thumbtack fa-3x"></a></li>

                </ul>
            </footer>
        </article>

        <section>
            <article class="post">
                <header>
                    <div class="title">
                        <h2><a href="#">Updates</a></h2>
                        <div></div>
                    </div>

                </header>
                {% for update in post.postupdate_set.all %}

                    <header>
                        <div class="title">
                            {#                            <h2><a href="#">{{ post.title }}</a></h2>#}
                            <p>{{ update.content }}</p>
                            {#                            <div></div>#}
                        </div>
                        <div class="meta">

                            <a href="#" class="author"><span class="name">{{ update.author.get_full_name }}</span>
                                {% if update.author.userprofile.profile_pic %}
                                    <img src="{{ update.author.userprofile.profile_pic.url }}" alt=""/>
                                {% elif update.author.googleauth.profile_pic_link %}
                                    <img src="{{ update.author.googleauth.profile_pic_link }}" alt=""/>
                                {% else %}
                                    <img src="{% static "posts/images/pic10.jpg" %}" alt=""/>
                                    {#                                TODO Put author name and profile pic here#}
                                {% endif %}
                            </a>
                            {% if update.author == post.author %}
                                <p>Author</p>
                            {% elif  update.author|is_user_moderator:post.club %}
                                <p>Moderator</p>
                            {% endif %}
                            <time class="published" datetime="2015-11-01">{{ post.created }}</time>

                        </div>
                    </header>

                {% empty %}
                    {% if request.user == post.author %}
                        You can put any updates here to notify all those who have followed this post.
                        For normal typos you can just edit the post.
                        Followers will not be notified if you edit the post.
                        Notifications will be sent only if you issue an update by clicking the above button.
                        It is recommended that any major changes like date/time etc be communicated via updates along
                        with edits if required.<br>
                        Only author and moderators can issue updates


                    {% else %}
                        Any updates issued by author or moderators will appear here.
                    {% endif %}
                {% endfor %}
                {% if request.user == post.author or request.user|is_user_moderator:post.club %}

                    <div style="width:100%;height:auto;background-color: transparent;margin:2rem auto;">
                        <form action="{% url 'posts:post-update' club_name_slug post.encrypted_id %}" method="post"
                              id="update_form">
                            {% csrf_token %}
                            <div>

                                <textarea name="content" id="" cols="30" rows="5"
                                          placeholder="Write any updates here. (Only author and moderators can see this part)"></textarea>
                            </div>
                            <div style="margin:1rem 0;">
                                <a href="#"
                                   class="button large" onclick='document.forms["update_form"].submit()'>Submit
                                </a>
                            </div>
                        </form>
                    </div>
                {% endif %}
            </article>
        </section>

        <section>
            <article class="post">
                <div id="disqus_thread"></div>
            </article>
        </section>


    </div>



{% endblock %}



{% block script %}
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.13.1/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.13.1/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>


    <script>
        let subscribed_box_style = " box-shadow: inset 0 0 0 1px #2ebaae; color: #2ebaae !important ";
        let subscribe_button = document.getElementById('subscribe_button');

        function subscribe_toggle() {

            if (cur_subscribe_status === true) {
                // Already subscribed. Unsubscribe
                subscribe_button.style = "";
                subscribe_button.innerText = "Subscribe";

                {#    TODO Add AJAX here to unsucribe#}
            } else {
                // Not subscribed. Subscribe
                subscribe_button.style = subscribed_box_style;
                subscribe_button.innerText = "Subscribed";

                {#    TODO Add AJAX here to subscribe#}
            }

            cur_subscribe_status = !cur_subscribe_status; // Toggle subscribe status
        }

        /* Like, Comment Icon AJAX */


        document.querySelector('.like').addEventListener('click', function (e) {

            e.preventDefault();

            $.ajax({
                type: 'POST',
                url: '{% url 'posts:like-post' post.id %}',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    if (data.is_liked) {
                        $('#like').removeClass('far').addClass('fas').addClass('liked-icon');
                    } else {
                        $('#like').removeClass('fas').removeClass('liked-icon').addClass('far');
                    }
                }
            });
        });

        document.querySelector('.comment').addEventListener('click', function () {
            console.log('clicked!');
        });


    </script>

    <script>

        /**
         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

        var disqus_config = function () {
            this.page.url = "http://localhost:8000/posts/{{ club_name_slug }}/{{ post.encrypted_id }}";  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = "{{ post.encrypted_id }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };

        (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://clubportal-1.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>
{% endblock %}