{% extends 'registration/login_base.html' %}
{% load widget_tweaks %}

{% block title %}
    Reset Password
{% endblock %}

{% block heading %}
    {% if validlink %}
        Enter New Password
    {% else %}
        Invalid Link
    {% endif %}
{% endblock heading %}

{% block form_element %}
    {% if validlink %}

        <form method="post" class="form login">
            {% csrf_token %}
            <div class="form__field" style="margin-bottom: 1vh;">
                <label for="{{ form.new_password1.id_for_label }}">
                    <svg class="icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#user"></use>
                    </svg>
                    <span class="hidden">Username</span></label>
                {{ form.new_password1|add_class:"form__input"|attr:"placeholder:New Password" }}

            </div>
            <div class="form__field" style="margin-bottom: 1vh;">
                <label for="{{ form.new_password2.id_for_label }}">
                    <svg class="icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#user"></use>
                    </svg>
                    <span class="hidden">Username</span></label>
                {{ form.new_password2|add_class:"form__input"|attr:"placeholder:ReEnter New Password" }}

            </div>
            <div class="form__field">
                <input type="submit" value="Submit">
            </div>
        </form>
    {% else %}
        <p style="color: yellow">

            The password reset link is invalid, possibly because it has already been used.
            <br><br>
            Please initiate a new password reset request.
            <br><br>
            If problem persists, contact us.
        </p>
    {% endif %}
{% endblock %}