{% autoescape off %}
    We received a password reset request for your IIITS Clubs Portal Account,
    click the link below to reset your password:

    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

    If clicking the link above doesn't work, please copy and paste the URL in a new browser
    window instead.

    If you did not initiate this request, just login to your account with your current password by clicking below link
    and we will make the password-reset link invalid.

    {{ protocol }}://{{ domain }}{% url 'registration:login' %}

    In case of any issues, contact us

    Sincerely,
    Technical Team,
    IIITS Clubs Portal
{% endautoescape %}