{% extends 'registration/login_base.html' %}
{% load widget_tweaks %}

{% block title %}
{% endblock title %}

{% block heading %}
    Forgot password
{% endblock heading %}

{% block form_element %}
    <form action="" method="post" class="form login">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form__field" style="margin-bottom: 1vh;">
            <label for="{{ form.email.id_for_label }}">
                <svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#user"></use>
                </svg>
                <span class="hidden">Email</span></label>
            {{ form.email|add_class:"form__input"|attr:"placeholder:Enter your email" }}

        </div>
        {% if form.email.errors %}
            <div class="input-error">{{ form.email.errors }}</div>
        {% endif %}

        <div class="form__field">
            <input type="submit" value="Submit">
        </div>
    </form>
{% endblock form_element %}
